src/main/mule/apdev-maven-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1c6e3737-deb9-4ba6-a965-47f61dcc1a16" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="apdev-maven-testFlow" doc:id="3ef24d04-e72d-432a-95a2-74da2cb41eee" >
		<http:listener doc:name="Listener" doc:id="7caf3745-879f-45f3-a92e-bc762337bca4" config-ref="HTTP_Listener_config" path="/api"/>
		<logger level="INFO" doc:name="Logger" doc:id="5b37edbe-acc6-4b10-a4bd-f7340cd3e732" message="#[payload]"/>
	</flow>
</mule>
